@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";

@layer base {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	body {
		@apply bg-[#1c1716] text-amber-50;
	}
}
@theme {
	--font-skills: "Special Gothic Expanded One", sans-serif;
}
@layer components {
	.skillStyleTitle {
		@apply font-bold text-3xl  md:text-5xl lg:text-6xl font-skills;
	}
	.skillStyle {
		/* font-family: var(--font-skills); */

		@apply font-bold text-3xl  md:text-4xl lg:text-5xl font-skills;
	}
}
@layer utilities {
	@keyframes autoshowAnimation {
		from {
			opacity: 0;
			transform: translateY(100px) scale(0.4);
		}
		to {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}

	.animate-autoshow {
		animation: autoshowAnimation 0.7s ease forwards;
		animation-timeline: view(70% 1%);
	}
	@keyframes leftToright {
		from{
			opacity: 0;
			transform: translateX(-20px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	.ltor{
		animation: leftToright 1s ease-out;
		animation-timeline: view();
		animation-range: entry 0% cover 30%;
	}
}
