@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@layer base {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	body {
		@apply bg-[#1c1716] text-amber-50;
	}
}
@theme {
	--font-skills: "Special Gothic Expanded One", sans-serif;
	--font-hero: "Anton", sans-serif;
	--font-barlow: "Barlow Semi Condensed", sans-serif;
}
@layer components {
	.skillStyleTitle {
		@apply font-bold text-3xl  md:text-5xl lg:text-6xl font-skills;
	}
	.skillStyle {
		@apply font-bold text-3xl  md:text-4xl lg:text-5xl font-skills;
	}

}
@layer utilities {
	@keyframes autoshowAnimation {
		from {
			opacity: 0;
			transform: translateY(100px) scale(0.4);
		}
		to {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}

	.animate-autoshow {
		animation: autoshowAnimation 0.7s ease forwards;
		animation-timeline: view(70% 1%);
	}
	@keyframes leftToright {
		from{
			opacity: 0;
			transform: translateX(-20px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	.ltor{
		animation: leftToright 1s ease-out;
		animation-timeline: view();
		animation-range: entry 0% cover 30%;
	}
}
